.fadebox{
    width: 100px;
    height: 100px;
    background-color: orange;
    animation: fadeInOut 3s ease-in-out infinite ;
}

@keyframes fadeInOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}